body {
    margin: 0; 
}

#scene {
    width: 100%;
    height: 100vh;
    position: absolute;
}

.text-overlay {
    position: absolute;
    font-size: 2vmin;
    font-family: Segoe UI, Calibri, Helvetica;
    color: rgb(41,30,25);
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1s; /* Adjust the duration of the fade-in effect */
    z-index: 1;
}

.visible {
    opacity: 1;
    transition: opacity 0.75s;
}

#text1 {
    transform: translate(-140%, -210%);
}

#text2 {
    transform: translate(-100%, -80%);
}

#text3 {
    transform: translate(-285%, -10%);
}

#text4 {
    transform: translate(-100%, 50%);
}
