body {
	width: 100vw;
	height: 100vh;
	background-color: #0D0D0D;
	margin: 0rem;
	overflow: hidden;
	font-family: Helvetica, sans-serif;
}

/* desktop gallery */
#image-scroll {
	display: flex;
	gap: 2vmin;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(0%, -50%);
	user-select: none;
}

#image-scroll > .image {
	width: 40vmin;
	height: 55vmin;
	object-fit: cover;
	object-position: right;
}

/* mobile gallery*/
@media only screen and (max-width: 768px) {
	#image-scroll {
		display: flex;
		flex-direction: column;
		left: 50%;
		top: 50%;
		transform: translate(-50%, 0);
		gap: 4vmin;
	}
	
	#image-scroll > .image {
		width: 70vmin;
		height: 50vmin;
		object-fit: cover;
		object-position: bottom;
	}
}

/* about link styling */
.about, .about:visited {
	user-select: none;
	position: absolute;
	color: #D99441;
	font-size: 4vmin;
	text-decoration: none;
	bottom: 10%;
	right: 20%;
}
.about:hover {
	color: #F2BE5C;
	text-decoration: none;
}

.about-m {
	display: none;
}

/* mobile about link */
@media only screen and (max-width: 768px) {
	.about {
	display: none;
	}
	.about-m, .about-m:visited {
		user-select: none;
		display: block;
		position: absolute;
		color: #D99441;
		font-size: 6vmin;
		text-decoration: none;
		bottom: 10%;
		right: 7%;
	}
}

/* about paragraph&image styling */
#about-para {
	font-size: 2vmin;
	color: #D99441;
	position: absolute;
	left: 47%;
	top: 58%;
}

.about-image {
	position: absolute;
	top: 20%;
	left: 20%;
	width: 50vmin;
}

/* mobile paragraph&image styling */
@media only screen and (max-width: 768px) {
	#about-para {
		position: static;
		font-size: 4vmin;
		color: #D99441;
	}
	
	.about-image {
		position: static;
		width: 60%;
	}

	#about-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2vmin;
		transform: translate(0, 50%);
	}
}