body {
	width: 100vw;
	height: 100vh;
	background-color: #110d0a;
	margin: 0rem;
	overflow: hidden;
}

/* desktop */
#image-scroll {
	display: flex;
	gap: 2vmin;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(0%, -50%);
	user-select: none;
}

#image-scroll > .image {
	width: 40vmin;
	height: 55vmin;
	object-fit: cover;
	object-position: center;
}

/* mobile */
@media screen and (max-width: 768px) {
	#image-scroll {
		display: flex;
		flex-direction: column;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -10%);
		padding: 1vmin;
	}
	
	#image-scroll > .image {
		width: 60vmin;
		height: 50vmin;
		margin-bottom: 2vmin;
	}
}