.hide {
    display: none;
}

.grid {
    display: flex;
    justify-content: center;
}

.photo {
    height: 300px;
    width: 300px;
    background-image: url('https://placekitten.com/300/300');
    background-size: cover;
    background-position: center;
}

.dropbox {
    display: flex;
    height: 350px;
    width: 350px;
    border: 3px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
    margin-left: 1vmin;
}

.drag-over{
    border: 3px;
    border-style: dashed;
    border-color: black;
}